/*-------------------------------------    
CSS INDEX
===================================
#. Defaults
#. Topbar Layout 1
#. Topbar Layout 3
#. Topbar Layout 4
#. Topbar Layout 5
#. Header Layout 1
    #. Header Logo
    #. Main Navigation
    #. Submenu
    #. 3rd Level Menu
    #. Multi Column Menu
    #. Mobile Multi Column Menu
    #. Header Icons
    #. Header Right Menu
    #. Sticky Header
    #. Transparent Header
#. Header Layout 2
#. Header Layout 3
#. Header Layout 4
#. Header Layout 5
#. Header Layout 6
#. Header Responsive
#. Footer - Preloader, Scroll to top, Copyright
#. Widgets - Sidebar and Footer Widgets
#. Custom Widgets
#. Banner
#. Buttons
#. Contents
#. Pagination
#. Comments
#. No Content
#. Error 404
#. Single Event
#. Single Instructor
#. Woocommerce: Widgets
#. Woocommerce: Owl Nav
#. Woocommerce: Top Bar
#. Woocommerce: Shop
#. Woocommerce: Shop List View
#. Woocommerce: Single Product
#. Woocommerce: Cart
#. Woocommerce: Checkout
#. Woocommerce: Order received
#. Woocommerce: My Account
#. Woocommerce: Login/Register
#. Woocommerce: Yith Wishlist
#. Plugin: Contact Form 7
#. Plugin: Flickr Badges Widget
#. Plugin: Theme My Login
---------------------------------------*/
/*-------------------------------------
#. Defaults
---------------------------------------*/
body {
    color: #444444;
    margin: 0;
  }
  body,
  button,
  input,
  select,
  textarea {
    line-height: 1.5;
    font-weight: 400;
    font-size: 15px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 15px;
    font-weight: 500;
    color: #222222;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  p {
    margin: 0 0 20px;
  }
  blockquote {
    background-color: #F5F5F5;
    border: medium none;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    padding: 30px 45px;
    margin: 0 0 20px;
  }
  blockquote p::before {
    font-family: 'FontAwesome';
    content: "\f10d";
    margin-right: 10px;
    left: 0;
    margin-right: 5px;
    position: relative;
    top: -5px;
    z-index: 1;
  }
